<app-banner [titulo]="'Dragon Dev'"
            [desc]="'Jumpstart your marketing efforts with this example based on Apple’s marketing pages.'" >
</app-banner>

<div class="contendor-principal bg-light p-4 mb-4">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="todos()" [ngClass]="{'active': all}">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="activos()" [ngClass]="{'active': active}">Activos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="inactivos()" [ngClass]="{'active': inactive}">Inactivos</a>
    </li>
  </ul>

  <div class="container mt-4">
      <ol class="list-group">
        <li *ngFor="let persona of personas" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold text-start">{{ persona.nombre }}</div>
            {{ persona.cargo }}
          </div>
          <span class="btn btn-primary rounded-pill" (click)="verEmpleado( persona.id )">Ver</span>
        </li>
      </ol>
  </div>
</div>