<app-banner [titulo]="'Galeria'" [desc]="'Jumpstart your marketing efforts with this example based on Apple’s marketing pages.'" ></app-banner>

<div class="contendor-principal bg-light p-5">
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
    <p>Hola mundo!</p>
</div>