.contenedor-cards{
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    column-gap: 40px;
}
.contenedor-cards .card-persona img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s;
}
.contenedor-cards .card-persona img:hover{
    box-shadow: 1px 5px 5px #9c9c9c;
    transform: translate(0, -10px);
}

.active{
    background-color: black !important;
    color: #FFF !important;
}